.blogDetail{
    width: 65vw;
    margin: 12px auto;
    background-color: #ffffff;
    padding: 12px;
    flex: 1;
    :global{
        .hljs code{
            display: block;
            padding: 1em;
        }
        p code{
            background-color: #f3f4f4;
            padding: 0 3px 0 3px;
            border: 1px solid #e7eaed;
            border-radius: 3px;
            text-align: left;
            vertical-align: initial;
            font-size: 0.9em;
            color: #111111;
            font-family: "Lucida Console",Consolas,"Courier",monospace;
        }
    }
    .date{
        text-align: center;
    }
    .loading{
        text-align: center;
        margin-top: 100px;
    }
}