.blogDetail{
    width: 65vw;
    margin: 12px auto;
    background-color: #ffffff;
    padding: 12px;
    :global{
        .hljs code{
            display: block;
            padding: 1em;
        }
    }
}