.blogDetail{
    width: 65vw;
    margin: 12px auto;
    background-color: #ffffff;
    padding: 12px;
    flex: 1;
    :global{
        .hljs code{
            display: block;
            padding: 1em;
        }
    }
    .date{
        text-align: center;
    }
    .loading{
        text-align: center;
        margin-top: 100px;
    }
}