.myHeader{
    background-color: #d9d9d9;
    display: flex;
    .title{
        width: 20%;
        text-align: center;
        flex: none;
        color: #808080;
        font-size: 26px;
    }
    .link{
        text-align: center;
        flex: auto;
        a{
            margin: 0px 24px;
            color: #1890ff;
        }
    }
    .poem{
        width: 20%;
        flex: none;
        letter-spacing: 3px;
    }
    
}