.taskWrapper{
    display: flex;
    justify-content: center;
    padding-top: 8px;
    .taskMsgBox{
        width: 1080px;
        display: flex;
        .msgTitle{

        }
        .msgContent{

        }
    }
}